<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>smso</name>
	<displayName><![CDATA[SEND SMS VIA SMSO]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[SEND SMS VIA SMSO platform]]></description>
	<author><![CDATA[SMSO]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>